<h1 class="headline">You left items in your cart</h1>
<p class="subheadline">Your selected items are still waiting for checkout.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
