<h1 class="headline">Delivery completed</h1>
<p class="subheadline">Your order has been marked as delivered.</p>

{{> detail-list details=details}}
<p class="text">Thank you for using {{companyName}}.</p>
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
