<h1 class="headline">We have missed you</h1>
<p class="subheadline">Come back and see what is new on {{companyName}}.</p>

<p class="text">New vendors, better offers, and improved delivery coverage may now be available in your area.</p>
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
