<h1 class="headline">Your receipt is ready</h1>
<p class="subheadline">We generated a receipt for your recent transaction.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
