<h1 class="headline">A job has been assigned to you</h1>
<p class="subheadline">Review the details and begin the task when ready.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
