<h1 class="headline">New job available nearby</h1>
<p class="subheadline">A job matching your availability has been posted.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
