<h1 class="headline">New vendors near you</h1>
<p class="subheadline">New stores and offers are now available in your area.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
