<h1 class="headline">Your order is confirmed</h1>
<p class="subheadline">We have received your order and sent it for processing.</p>

{{> detail-list details=details}}
<p class="text">You will receive another update once the vendor accepts the order or a tasker is assigned.</p>
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
