<h1 class="headline">Your order is being prepared</h1>
<p class="subheadline">The vendor is getting your items ready.</p>

{{> detail-list details=details}}
<p class="text">We will notify you again as soon as delivery is assigned.</p>
