<h1 class="headline">Your order was accepted</h1>
<p class="subheadline">The vendor has accepted your order and started processing it.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
