<h1 class="headline">Refund processed</h1>
<p class="subheadline">Your refund has been issued.</p>

{{> detail-list details=details}}
<p class="text">Depending on your payment provider, funds may take additional time to reflect.</p>
