<h1 class="headline">A tasker has been assigned</h1>
<p class="subheadline">Your delivery now has an assigned rider or tasker.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
