<h1 class="headline">Tasker verification approved</h1>
<p class="subheadline">Your account is cleared to start taking jobs.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
