<h1 class="headline">Your rider is on the way</h1>
<p class="subheadline">Your order is moving toward the delivery address.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
