<h1 class="headline">New order received</h1>
<p class="subheadline">A customer order is waiting for your action.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
