<h1 class="headline">Wallet activity update</h1>
<p class="subheadline">There has been a balance change on your wallet.</p>

{{> detail-list details=details}}
{{> cta-button ctaUrl=ctaUrl ctaLabel=ctaLabel}}
